* {
  margin:0;
  padding:0;
  font-family: sans-serif;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  background-color: ;
  text-align: center;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: black;
}

.nav-list{
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
}

.nav-list a {
  color: White;
}
.nav-list :hover {
  color: grey;
}

nav img{
  width: 50px;
  height: 50px;
  top: 17px;
  left: 12%;
}

.nav-logo{
  cursor: pointer;
  transform: rotate(0deg);
  transition: transform var();
}

.nav-logo:hover{
  animation: nav-logo 0.2s ease alternate;
  transform: rotate(-90deg);
}

@keyframes nav-logo {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.5);
  }
}

.titel{
  background: white;
  height: 60px;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  margin:15px;
}

.titel h2{
  text-align: center;
  margin: 10px;
}

body {
  background-color: rgb(27,27,27);
}


.body {
  display: grid;
  justify-content: center;
  font-size: 20px;
  background-color: rgb(27,27,27);
  max-width: auto;
}


.gallery{
  /*margin: 0 0 0 250px;*/
  max-width: 1000px;
  min-height: 500px
  display: flex;
  align-items: center;
}

.gallery .item{
  max-width: 300px;
  max-height: auto;
  margin: 10px;
}



.container{
  display: flex;
  justify-content: center;
  min-width: 1000px;
}

.flex-container {
  max-width: 1000px;
  margin-top: 10px;
  height:;
}

.flex-container .flex-card{
  max-width: 1000px;
  background-color:white /*rgba(255, 255, 255, 0.3)*/;
  margin:10px;
  display: flex;
  border-radius: 15px;
}

.flex-container .flex-card .img-container {
    max-width: 500px;
    min-width: 500px;
}

.flex-container .flex-card .img-container img {
    min-height: 350px;
    max-width: 100%;
    border-radius: 15px 0 0 15px;
}

.gallery  :hover{
  animation: item 0.1s ease;
}

@keyframes item {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.2);
  }
}

.flex-card h2 {
  text-align: center;
  color: black;
  align-items: center;
  align-content: center;
}

.card-text p{
  text-align: center;
}

.card {
  background: white;
  width: 220px;
  height: ;
  margin: 30px;
  border-radius: 15px;
}

.container :hover{
  animation: card 0.1s ease-out alternate;
}

@keyframes card {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.1);
  }
}

.card p {
  padding: 10px;
  font-size: 15px;
  display: block;
  text-align: center;
  vertical-align: middle;
}

.card h2 {
  padding: 10px;
  text-align: center;
}

.card a{
  background: black;
  color: white;
  padding: 10px 10px;
  display: block;
  text-align: center;
  margin: 10px 10px;
}

.card-image{
  background-color: grey;
  height: 150px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0 ;
}

.contact{
  display: grid;
  justify-content: center;
  font-size: 20px;
  background-color: rgb(27,27,27);
}

.contact-card{
  background: white;
  width: 1000px;
  min-height: 300px;
  margin: 10px;
  border-radius: 15px;
}

.contact-card h2{
    margin-bottom: 10px;
}

.contact-card p{
  text-align: center;
  padding-top: 10px;
}

.social-row {
  background: white;
  max-width: 1000px;
  height: 100px;
  margin: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
}

.social-item {
  margin: 10px 0 0;
  padding:;
  background-color: ;
  opacity: 100%;
  max-height: 80px;
  max-width: 180px;
  border-radius: 15px;
}

.social-item img{
  max-width: 80px;
  max-height: 80px;
}

.car-1 {
  background-image: url('images/10.jpg');
}

@media screen and (max-width: 600px) {
  .nav-list a:not(:first-child) {display: none;}
  .nav-list a.icon {
    float: right;
    display: block;
  }
